.container-fluid h2{
font-weight: bolder;
}
.container-fluid span{
color: rgb(170, 168, 168);
}
.form-control::placeholder {
  color: rgb(170, 168, 168);
}

.form-control:focus {
  box-shadow: none;
  border:1px solid #174A8B;
}

.error{
  border:1px solid #ee2106;
}