.steps{
/* padding-top: 20px; */
display: flex;
justify-content: center;
align-items: center;
}
.steps .num{
border: 1px solid white;
height: 2rem;
width: 2rem;
text-align: center;
padding-top: 3px;
border-radius: 100%;
font-weight: bold;
}

.active{
background-color: #EEF5FF;
color: black;
}