.step{
margin-top: 20px;
display: flex;
align-items: center;
}
.step .num{
border: 1px solid white;
height: 2rem;
width: 2rem;
text-align: center;
padding-top: 3px;
border-radius: 100%;
}

.active{
background-color: #EEF5FF;
color: black;
font-weight: bold;
}

.step span{
font-size: 13px;
color: rgb(202, 198, 198);
font-weight: lighter;
}
.step h6{
font-size: 14px;
font-weight: bold;
letter-spacing: 2px;
}