.container-fluid h2{
font-weight: bolder;
}
.container-fluid span{
color: rgb(170, 168, 168);
}

.category_section{
background-color: #F8F9FE;
}

.change{
text-decoration: underline;
}
.change:hover{
cursor: pointer;
}

.total h5{
color: #174A8B;
}
